.main {
    display: flex;
    flex-direction: column;
}

.websites {
    min-height: 120px;
    text-align: center;
    margin: 0 auto;
/*    display: flex;
    flex-direction: column;*/
}

.websites__pending {
    background-image: url("../img/preloader.gif");
    margin-bottom: 2px;
    background-position: center;
/*    align-self: center;*/
}

#error {
    margin: 0 auto;
    background-image: url("../img/error.png");
    background-size: 100%;
    background-position: center;
}

#pending,
#error {
    width: 50px;
    height: 50px;
    display: none;
    background-repeat: no-repeat;
}

#refreshButton {
    align-self: flex-end;
    margin: 20px auto 0 auto;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.links {
    font-size: 16px;
}
