body {
    background-color: #f2f2f2;
}

.main {
    display: flex;
    flex-direction: column;
}

.websites {
    min-height: 120px;
    text-align: center;
    margin: 0 auto;
/*    display: flex;
    flex-direction: column;*/
}

.websites__pending {
    background-image: url("../img/preloader.gif");
    margin-bottom: 2px;
    background-position: center;
/*    align-self: center;*/
}

#error {
    margin: 0 auto;
    background-image: url("../img/error.png");
    background-size: 100%;
    background-position: center;
}

#pending,
#error {
    width: 50px;
    height: 50px;
    display: none;
    background-repeat: no-repeat;
}

#refreshButton {
    align-self: flex-end;
    margin: 20px auto 0 auto;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #a3baa0;
    padding: 2px 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    background: #b1e268;
    background: -moz-linear-gradient(top, #b1e268 0%, #93d552 40%, #72cd36 100%);
    background: -webkit-linear-gradient(top, #b1e268 0%,#93d552 40%,#72cd36 100%);
    background: linear-gradient(to bottom, #b1e268 0%,#93d552 40%,#72cd36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1e268', endColorstr='#72cd36',GradientType=0 );
}
#refreshButton:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);   
}
#refreshButton:focus {
    outline:0;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#status a {
    margin-bottom: 4px;
}

.links {
    font-size: 16px;
}
